access_key = "aaa=="
admin_password= "aaa=="
admin_username= "aaa=="
aks_admin_group = "App Admin Team"
aks_private_dns_zone_name = "privatelink.eastus.azmk8s.io" // change "XXXXXXXXX" the region to match where your aks cluster is deployed.
aks_user_group = "App Dev Team"
azurerm_log_analytics_workspace_id = "/subscriptions/aaa/resourceGroups/Observability/providers/Microsoft.OperationalInsights/workspaces/workspacename"
azurerm_log_analytics_workspace_rg = "rgname"
azurerm_log_analytics_workspace_name = "workspacename"
container_name = "tfstate"
deployment_prefix="AI"
security_center_plan="Free"
network_plugin = "azure"
onpremise_address_space = ["192.168.0.0/16"]
onpremise_gateway_public_ip_address = "1.2.3.4"
prefix = "aks"
state_sa_name = "tfstatestorageaccountname"
usergpupool_vm_size= "Standard_NC24ads_A100_v4"
userpool_vm_size= "Standard_D8s_v4"
vm_size= "Standard_D2s_v4"
workload_address_space="10.0.0.0/16"
workload_location="eastus"